<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="/assets/css/GoogleFonts.css">
   <link rel="stylesheet" href="/assets/css/mdbootstrap.css">
   <link rel="stylesheet" href="/assets/css/styles.css">
   <script src="/assets/js/axios.js"></script>
   <script src="/assets/js/jquery.js"></script>
   <script src="/assets/js/bootstrap.js"></script>

    <title>Mi Emprendimiento</title>
</head>
<body >

    {{{body}}}

    <style>
        .input-group-text {
            width: 55px;
            display: flex;
            justify-content: center;
        }

        .wrapper {
            width: 80%;
        }

        @media (min-widht: 576px) {
            .wrapper {
                width: 50%;
            }
        }
    </style>
    
</body>
</html>