{{>Navbar}}

    <div class="container">
        <div class="row">
                <div class="col-4">
                    <h3>Ordenar/Filtrar</h3>
                    <div class="d-inline">
                        <input type="text" class="">
                        <button type="button" class="btn btn-dark" onclick="buscar()">Buscar</button>
                    </div>
                    <div class="align-center">
                        <a href="/" class="mt-2">Ordenar de A a Z</a>
                    </div>
                    <div>
                        <a href="/" class="mt-2">Ordenar de Z a A</a>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success" onclick="ingCodigo()">Ingresar Código</button>

                    </div>
                </div>

                <div class="col-8">
                    <h3>Tiendas</h3>
                    {{#each tiendas}}
                    <div class="card-group">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="card">
                                <img src="{{this.imagen}}" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.nombre_tienda}}</h5>
                                    <button type="button" class="btn btn-dark" onclick="irTienda()">Ir a la tienda</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

    </div>

<script>
    const irTienda = () => window.location = `/Home/tienda?token=${token}`
</script>

