<div class="px-5  py-3 m-auto card text-center wrapper">

    <small class="mb-2">Mi Emprendimiento</small>
    <h4 class=>Registro</h4>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-envelope"></i></span>
        <input class="form-control" placeholder="Ingrese su correo" id="email" value="pgonzalez@gmail.com" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-user-circle"></i></span>
        <input class="form-control" placeholder="Ingrese el nombre de la tienda" id="name" value="Tienda de Pedro" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-user-circle"></i></span>
        <input class="form-control" placeholder="Ingrese su nombre" id="nombreVendedor" value="Pedro Gonzalez" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-user-circle"></i></span>
        <input class="form-control" placeholder="Ingrese su direccion" id="direccion" value="Calle sin numero" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-user-circle"></i></span>
        <input class="form-control" placeholder="Ingrese su comuna" id="comuna" value="La Florida" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-id-card"></i></span>
        <input class="form-control" placeholder="Ingrese su RUT" id="rut" value="12.456.789-3" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-key"></i></span>
        <input class="form-control" type="password" placeholder="Ingrese su clave" id="password" value="123456" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-key"></i></span>
        <input class="form-control" type="password" placeholder="Confirme su clave" id="passwordConfirm"
            value="123456" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-user-circle"></i></span>
        <input class="form-control" type="url" placeholder="URL imagen tienda" id="imagen" value="https://crearpaginaweb.org/wp-content/uploads/2016/01/pagina-web-de-cocina-recetas.jpg" />
    </div>

    <button type="button" onclick="register()" class="btn btn-light w-50 m-auto"
        data-mdb-ripple-color="dark">Registrarme</button>
    <a href="/" class="mt-2">Ingresar</a>
</div>

<script>
    const register = async () => {
        const email = document.getElementById("email").value
        const nombreTienda = document.getElementById("name").value
        const nombreVendedor = document.getElementById("nombreVendedor").value
        const direccion = document.getElementById("direccion").value
        const comuna = document.getElementById("comuna").value
        const rut = document.getElementById("rut").value
        const password = document.getElementById("password").value
        const passwordConfirm = document.getElementById("passwordConfirm").value
        const imagen = document.getElementById("imagen").value

        const expRUT = /^(\d{1,2}\.\d{3}\.\d{3}-)([kK]{1}$|\d{1}$)/
        const expEmail = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/

        if (password !== passwordConfirm) {
            alert("Las contraseñas deben ser iguales")
        }
        else if (!expEmail.test(email)) {
            alert("Email ingresado no cumple con el siguiente formato: email@test.com")
        }

        else if (!expRUT.test(rut)) {
            alert("El RUT ingresado no cumple con el siguiente formato: 12.456.789-3")
        }
        
        else {
            const payload = { email, nombreTienda, nombreVendedor, direccion, comuna, rut, password, imagen }
            console.log(payload)
            try {
                await axios.post("/tiendas", payload)
                alert(`Usuario registrado con éxito!, Bienvenid@ ${name}, ahora intente iniciar sesión`)
                window.location = "/"
            } catch (e) {
                const { response } = e
                const { data } = response
                const { message } = data
                console.log(data)
                const {code, detail} = message
                alert(`Error SQL código ${code} ${detail}`)
            }
        }
    }
</script>